.keyboard-row-container {
    display: flex;
    flex-direction: row;
}

.keyboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.key-container {
    margin: 2px;
    background-color: #d9d7d7;
    width: 30px;
    height: 40px;
    border-radius: 5px;
}

.key {
    padding-top: 10px;
}